@media (max-width: 1200px) {
  .header__nav_mobile {
    display: none; }
  .container {
    max-width: 600px; }
  .header {
    margin: 5px 0 0px 0;
    height: 300px; }
    .header__nav {
      padding: 15px 0 0 0; }
      .header__nav_item, .header__nav a {
        padding: 0 5px;
        font-size: 10px; }
      .header__nav_item_img {
        width: 40px;
        padding: 0 10px; }
  .grid__item_logo_img {
    width: 80%; }
  .grid__item_logo_shop {
    width: 45%; }
  .grid {
    max-width: 1023px;
    -ms-grid-rows: 300px 350px 200px 350px 220px 350px 200px 120px 200px 100px 250px 130px 250px 100px;
    grid-template-rows: 300px 350px 200px 350px 220px 350px 200px 120px 200px 100px 250px 130px 250px 100px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
    .grid__item_title {
      width: 80%;
      padding: 10px 0;
      font-size: 14px; }
    .grid__item_text {
      width: 74%;
      font-size: 12px;
      line-height: 22px; }
  .grid__item_1 .grid__item_title {
    font-size: 14px;
    padding: 25px 0; }
  .grid__item_1 .grid__item_text {
    font-size: 12px;
    line-height: 22px; }
  .grid__item_2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3; }
  .grid__item_3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4; }
  .grid__item_4 {
    display: none; }
  .grid__item_5 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7; }
  .grid__item_6 {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 / 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4; }
  .grid__item_7 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7; }
  .grid__item_8 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4; }
  .grid__item_9 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7; }
  .grid__item_10 {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 / 9;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7; }
  .grid__item_11 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7; }
  .grid__item_12 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9 / 10; }
    .grid__item_12 .grid__item_title {
      padding: 10px 0;
      font-size: 14px; }
    .grid__item_12 .grid__item_text {
      font-size: 12px;
      line-height: 22px; }
  .grid__item_18 {
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10 / 11;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5; }
    .grid__item_18 .grid__item_title {
      font-size: 10px; }
  .grid__item_20 {
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11 / 12;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5; }
  .grid__item_16 {
    -ms-grid-row: 10;
    -ms-grid-row-span: 2;
    grid-row: 10 / 12;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3; }
  .grid__item_17 {
    -ms-grid-row: 10;
    -ms-grid-row-span: 2;
    grid-row: 10 / 12;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7; }
  .grid__item_21 {
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12 / 13; }
    .grid__item_21 .grid__item_btn {
      width: 250px;
      height: 40px;
      font-size: 12px; }
  .grid__item_15, .grid__item_19, .grid__item_13, .grid__item_14 {
    display: none; }
  .grid__item_22 {
    -ms-grid-row: 13;
    -ms-grid-row-span: 1;
    grid-row: 13 / 14; }
    .grid__item_22 .grid__item_logo img {
      width: 50%; }
    .grid__item_22 .grid__item_title {
      padding: 15px 0;
      font-size: 16px; }
    .grid__item_22 input {
      width: 250px;
      height: 40px;
      font-size: 14px;
      line-height: 14px; }
    .grid__item_22 .grid__item_btn {
      width: 60px;
      height: 35px;
      font-size: 16px; }
  .grid__item_23, .grid__item_24, .grid__item_25 {
    -ms-grid-row: 14;
    -ms-grid-row-span: 1;
    grid-row: 14 / 15; }
  .grid__item_23 {
    font-size: 12px;
    font-style: italic; }
    .grid__item_23_title {
      font-size: 12px; }
  .grid__item_24 .grid__item_logo_img {
    width: 55%; } }
